body{
    background-color: grey;
}
.navbar-nav {
    margin-left: auto;
    padding-right: 20px;
}
a.nav-link {

    color: white;
}
.col-12.d-flex:before{
    width: 100%;
    height: 100vh;    
    background-size: 50% 50%;
    background: top right no-repeat;
    position: relative;   

}

  
